.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

#dosage-table {
    position: absolute;
    bottom: 2em;
    right: 2em;
}

#dosage-table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5em;
}